@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <h1>Welcome!</h1>
    <p class="lead">This is my book Registry Application.</p>
    <p></p>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <h2>Notice!</h2>
        <p>
           My navbar is jacked so in order to get to the good stuff goto /book.
        </p>
        </div>
    </div>
       